.ex01 .azul{
    color: blue;
    background-color: rgb(204, 204, 44);
}

.verde{
    color: green;
    background-color: rgb(201, 122, 201);
}

.azul{
    color: rgb(255, 255, 255);
    background-color: rgb(197, 41, 41);
}
